body {
  display: flex;
  flex-direction: column;
  background: rgb(255, 252, 252);
  max-width: 800px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

/* --------------------------------- Header Styles---------------------------------*/

header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

body > header > div:first-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-family: cursive;
  font-weight: 900;
  font-size: 30px;
}

strong {
  font-size: 10px;
  text-transform: uppercase;
}

body > header >:first-child{
  width: 50px;
  margin-right: 15px;
}


/* --------------------------------- Nav Bar Styles---------------------------------*/



nav {
  margin-left:auto ;
}
nav ul, nav {
  display: flex;
  flex-direction: row-reverse;
  gap: 2px;
}

nav ul:first-child li:nth-child(2) {
  margin-left: 5px;
}
/* --------------------------------- Img Divider Styles---------------------------------*/
.separator-top {
  display: flex;
  flex-direction: column;
}

.separator-top div {
  height: 4px;
}

/* --------------------------------- Main Styles---------------------------------*/

.card header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


h1 {
  font-size: 40px;
  font-weight: bold;
}

figure {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
} 
header div a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 50px;
}

div.card figure img  {
  width: 800px;
}
/* --------------------------------- Direction Styles---------------------------------*/
.deckcol-1 p{
margin-bottom: 20px;
}

.copy p {
  text-indent: 30px;
  line-height: 1.5em;
}

/* --------------------------------- Recipe Styles---------------------------------*/
.deckcol-2 {
  position: relative;
}

.deckcol-2 figure {
  display: block;
  object-fit: cover;
  width: 800px;

}

.recipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 80px;
  margin-right: 50px;
  position: absolute;
  top: 40px;
}

.recipe li {
  flex: 0 0 50%;
  text-align: left;
  margin-bottom: 8px;
}
/* --------------------------------- Card Styles---------------------------------*/
.cardhorizontal-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.cardhorizontal-content .copy {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 60px;
flex: 1;
line-height: 20px;
}

h2 {
  font-weight: bold;
  padding-bottom: 10px;
}
button {
  margin-left: 20px;
  background: rgb(196, 79, 7);
  padding: 10px 10px 10px 10px;
width: 150px;
}

button a {
  color: white;
}
/* --------------------------------- Footer Styles---------------------------------*/

footer {
  text-align: center;
  background-color: #f7f7f7;
  color: grey;
  padding: 10px;
}
footer img {
  max-width: 100%;
  height: auto;
  padding: 10px;
}
